<div class="cover-card-container">
    <div class="d-flex flex-column align-items-center">
        <div class="icon">
            <i class="fa fa-quote-left"></i>
        </div>
        <div class="cover-container card">
            <p class="content">
                Our purpose is to help brands get the right data
                that helps them make better informed decisions and improve business and patient outcomes. This right data is what you have. We want you to be ab le to monetize this data and earn revenues. 
            </p>
            <div class="header">
                <span class="title">Dr. Harshit Jain </span>
                <span class="sub-title"> | Co-Founder</span>
            </div>
        </div>
    </div>
</div>
