.basic-component-section {
    .main-heading {
        font-family: 'Montserrat-Bold';
        font-size: 43.6px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.66;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        margin: 0px;
    }
    .sub-heading {
        font-family: 'Montserrat-SemiBold';
        font-size: 0.8rem;
        padding: 0px 0;
        color: #969696;
        font-weight: 600;
        max-width: 81%;
    }
}