.btn-rounded {
    border-radius: 2rem;
    padding: 0.4rem 1rem;
}
.color-primary {
    color: #05d672;
}
.background-primary {
    color: white;
    background: #05d672;
    border: none;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold';
}

.background-primary:hover {
    background: darken($color: #05d672, $amount: 5);
}