@import "../../../../styles/global.scss";

.editable-table-section {
  font-family: "Montserrat-SemiBold";
  // table {
  //     border-top-left-radius: 15px;
  //     border-top-right-radius: 15px;
  //     overflow: hidden;
  // }
  // .header {
  //     background: $secondary;
  //     color: white;
  //     padding: 12px 20px;
  // }
  // td {
  //     background-color: white;
  // }
  // .data-font {
  //     font-family: 'Montserrat-SemiBold';
  //     font-size: 14px;
  //     font-weight: 500;
  //     font-stretch: normal;
  //     font-style: normal;
  //     letter-spacing: normal;
  //     text-align: left;
  //     color: #969696;
  // }
  // .tooltip-label {
  //     background-color: rgba(181,181,181,0.15);
  //     color: #969696;
  //     padding: 2px 5px;
  //     margin: 0px 2px;
  //     border-radius: 14.1px;
  // }
  // .tooltip-text {
  //     font-family: 'Montserrat-SemiBold';
  //     font-size: 12.4px;
  //     font-weight: 600;
  //     font-stretch: normal;
  //     font-style: normal;
  //     line-height: 2.8;
  //     letter-spacing: normal;
  //     text-align: left;
  //     color: #969696;
  // }
  // .count {
  //     color: $primary;
  //     font-family: 'Montserrat-SemiBold';
  //     font-size: 19.9px;
  //     font-weight: 600;
  //     font-stretch: normal;
  //     font-style: normal;
  //     line-height: 3.68;
  //     letter-spacing: normal;
  //     text-align: left;
  // }
}

th {
  padding: 12px 30px;
  background: $secondary;
  color: #fff;
}

td {
  background: #fff;
  padding: 20px 15px;
  border-bottom: 5px solid #f5f5fa;
  span {
    i {
      margin-right: 5px;
    }
  }
}
.heading {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  // line-height: 2.56;
  letter-spacing: normal;
  text-align: left;
  color: #58595b;
}
.data-font {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #969696;
}
.th-font {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #58595b;
}

table {
  background: transparent !important;
  border-radius: 12px;
  font-family: "Montserrat-SemiBold";
  color: #969696 !important;
}

tr th:first-child {
  border-top-left-radius: 12px;
}
tr th:last-child {
  border-top-right-radius: 12px;
}

tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.select {
  font-size: 14px;
  border-radius: 7px;
  border-color: #f1f2f2;
  padding: 8px 10px;
  font-family: "Montserrat-SemiBold";
  max-height: 35px;
  color: #969696;
}
.tooltip-label {
    padding: 6px 15px;
    background: #b5b5b52b;
    margin: 0 3px;
    border-radius: 14px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat-SemiBold';
}
.count {
    font-size: 20px;
    color: $primary;
    margin-left: 5px;
}


// 
/* The cust-label */
.cust-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .cust-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 100%;
    left: 0;
    z-index: 999;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #969696;
    border-radius:50%;
  }
  .cust-skip-lable {
      .checkmark {
          border-radius: 0 !important;
      }
  }
  
  /* On mouse-over, add a grey background color */
  .cust-label:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .cust-label input:checked ~ .checkmark {
    background-color: $primary;
    border-color: $primary;
  }
  .cust-label.cust-skip-lable input:checked ~ .checkmark {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  
  
  /* Show the checkmark when checked */
  .cust-label input:checked ~ .checkmark:after {
    display: block;
  }
  
