.meter-card {
    border-radius: 10px;
    .grid-inner {
      .icon-section-parent {
        display: flex;
        justify-content: center;
      }
      .data-detail {
        .header {
            font-family: 'Montserrat-SemiBold';
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.26;
            letter-spacing: normal;
            text-align: left;
            color: #969696;
        }
        .data-heading {
          font-size: 11px;
          font-weight: 600;
          color: #969696;
          text-align: left;
          font-family: 'Montserrat-SemiBold';
          width: 70%;
        }
        .data-Count {
          width: 30%;
          font-family: 'Montserrat-SemiBold';
          font-weight: 600;
          font-size: 12px;
          color: #05d672;
          
        }
      }
      .list-percentage {
        font-weight: 600;
        color: #05d672;
        font-size: 12px;
        float: right;
        margin-right: 12px;
      }
      .list-percentage-down {
        font-weight: 600;
        color: #ff0e2c;
        font-size: 12px;
        float: right;
        margin-right: 12px;
      }
    }
  }