.filter-fields {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 190px;
  font-weight: 600;
  font-size: 13px;
  font-family: "Montserrat-SemiBold";
  background: #fff;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-left: 10px;
  &.sort {
  }
  &.calender {
    max-height: 35px;
    // min-width: 280px;
  }
  i {
    font-size: 20px;
    color: #cccccc;
    padding: 6px 15px 7px 0;
    margin-right: 10px;
    border-right: 1px solid;
  }
}

button {
  height: 33px;
  min-width: 120px;
  background: transparent;
  color: #969696;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  width: 95%;
  padding-top: 2px;
}

.dropdown-toggle::after {
  float: right !important;
  margin-top: 7px !important;
  font-size: 21px !important;
  color: inherits !important;
  position: absolute;
  right: 6px;
  margin-right: 8px;
}

ul.dropdown-menu {
  li {
    padding: 12px 10px;
    margin: 0;
    cursor: pointer;
    color: #969696;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 14px;
    &:hover {
      background: #05d67214;
      transition: all 0.3s ease;
    }
    i {
      font-size: 16px;
      color: #969696;
      margin-right: 5px;
      padding: 0 10px;
      border: none;
    }
  }
}

.dropdown-menu.show {
  border-radius: 10px !important;
  transform: translate3d(0, 31px, 0px) !important;
  width: 100% !important;
  padding: 0 !important;
}
