.label-basic {
  font-family: 'Montserrat-SemiBold';
  font-size: 15.8px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.98;
  letter-spacing: normal;
  text-align: left;
  color: #969696;
  margin-top: 15px;
}
.label-only-basic {
  font-family: 'Montserrat-SemiBold';
  color: #969696;
  margin-top: 30px;
  margin-bottom: 32px;
  font-weight: 600;
}
.heading {
  font-family: 'Montserrat-SemiBold';
  color: #05d672;
  display: inline-block;
  font-size: large;
  margin-top: 18px;

}
.form-check-input {
  margin-top: 25px;
}